.main-image {
    height: 40vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../assets/webbBackgroundimg.jpg');
    opacity: 0.9;
}
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 10px;
    left: 0;
    color: #fff;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

  .scrolling-image {
    place-content: center;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 30px;
    z-index: -10;
    position: relative;
    height: 100vh;
    min-height: 500px;
    width: 100%;
    background-color: steelblue;
    background-image: linear-gradient(
        to bottom,
        rgb(0 0 0 / 25%),
        rgb(0 0 255 / 25%)
      ), url('../assets/webbBackgroundimg.jpg');
    background-size: cover !important;
    -webkit-background-size: cover !important;
    overflow: hidden;
    color: #fff;
  }